---
name: TorrServer
version: 1.0.0-MatriX.132-beta2
slug: torrserver
description: TorrServer for home assistant
url: https://github.com/aatrubilin/hassio-torrserver
codenotary: aatrubilin@gmail.com
init: false
auth_api: true
arch:
  - armv7
  - armhf
  - amd64
  - i386
  - aarch64
map:
  - addon_config:rw
options:
  arch: auto
ingress: true
ingress_port: 8090
ports:
  8090/tcp: 8090
ports_description:
  8090/tcp: TorrServer Web
startup: system
