---
name: TorrServer-dev
slug: torrserver-dev
description: TorrServer for home assistant
image: ghcr.io/aatrubilin/hassio-torrserver/{arch}
version: 1.5.1-MatriX.137-dev
url: https://github.com/aatrubilin/hassio-torrserver
codenotary: aatrubilin@gmail.com
init: false
auth_api: true
arch:
  - amd64
  - aarch64
map:
  - addon_config:rw
options:
  port: 8090
  httpauth: false
  logins:
    - username: homeassistant
      password: homeassistant
  tgtoken: ""
  m3u_custom_host: ""
  ssl: false
  ssl_port: 8091
  ssl_cert: ""
  ssl_key: ""
  weblog: false
schema:
  port: "int(1024,49151)"
  httpauth: bool
  logins:
    - username: str
      password: password
  tgtoken: "password?"
  m3u_custom_host: "str?"
  ssl: bool
  ssl_port: "int(1024,49151)"
  ssl_cert: "str?"
  ssl_key: "str?"
  weblog: bool
ingress: true
ingress_port: 8090
host_network: true
watchdog: "http://[HOST]:[PORT:8090]/echo"
startup: system
panel_icon: mdi:movie
